.Navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  min-height: 100%;
  width: 200px;
  border-right: 2px solid var(--accent-color);
  border-radius: 20px 0 0 20px;
  background-color: var(--secondary-bg-color);
}

.List {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Link {
  color: white;
  text-decoration: none;

  button {
    background-color: inherit;
    border: none;
    width: 100%;
    cursor: pointer;
    display: flex;
    gap: 10px;
  }
}

.Link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
