.PageLayout {
  padding: 64px 128px 64px 128px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Content {
  border: 2px solid var(--accent-color);
  width: 100%;
  min-height: 700px;
  border-radius: 20px;
  display: flex;
  background-color: var(--secondary-bg-color);

  -webkit-box-shadow: 6px 6px 22px 0px var(--accent-color);
  -moz-box-shadow: 6px 6px 22px 0px var(--accent-color);
  box-shadow: 6px 6px 22px 0px var(--accent-color);
}

.Children {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--secondary-bg-color);
}
